{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>My Chat</title>
    <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css" />
    <link rel="stylesheet" href="{% static 'css/index.css' %}" />
  </head>
  <body>
    <div id="div_container">
      <div id="div_header">
        <h1 class="title">メモ風チャットアプリ</h1>
      </div>
      <div id="div_main">
        <div id="div_join_screen">
          <!-- エンターキーによるボタン押下を行うために、<button>ではなく<form>と<input type="submit">を使用。
                ボタン押下(=submit)時にページリロードが行われないように、onsubmitの設定の最後に"return false;"を追加。-->
          <form
            action=""
            onsubmit="onsubmitButton_JoinChat(); return false;"
            style="text-align: center; width: 100%"
          >
            <h2 class="user">User name</h2>
            <input
              type="text"
              id="input_username"
              placeholder="名前を入力してください"
              autofocus
            /><br />
            <div class="select-wrapper">
              <select name="rooms" id="input_roomname" selected="hallA">
                <option value="hallA">hallA</option>
                <option value="hallB">hallB</option>
                <option value="hallC">hallC</option>
                <option value="room1">room1</option>
                <option value="room2">room2</option>
              </select>
              <input type="submit" value="チャットに入る" id="in-button" />
            </div>
          </form>
        </div>

        <div id="div_chat_screen">
          <button onclick="onclickButton_LeaveChat()" class="button_exit">exit</button><br />
          <input type="text" id="text_roomname" readonly="readonly" /><br />
          <span>User name:</span> 
          <input type="text" id="text_username" readonly="readonly" /><br />
          <!-- エンターキーによるボタン押下を行うために、<button>ではなく<form>と<input type="submit">を使用。
                    ボタン押下(=submit)時にページリロードが行われないように、onsubmitの設定の最後に"return false;"を追加。-->
          <ul id="list_messagea"></ul>
          <div class="memo-wrapper">
            <div  class="memo" id="memo1"></div>
            <div class="memo" id="memo2"></div>
            <div class="memo" id="memo3"></div>
            <div class="memo" id="memo4"></div>
            <div class="memo" id="memo5"></div>
            <div class="memo" id="memo6"></div>
            <div class="memo" id="memo7"></div>
            <div class="memo" id="memo8"></div>
            <div class="memo" id="memo9"></div>
          </div>

          <form
            class="input-form"
            action=""
            onsubmit="onsubmitButton_Send(); return false;"
          >
            <div class="form-wrapper">
              <input
                type="text"
                id="input_message"
                autocomplete="off"
                placeholder="入力してください"
                autofocus
              /><input type="submit" value="Send" class="form-button"/>
            </div>
          </form>

          <form
            class="input-form"
            action=""
            onsubmit="onsubmitButton_sendImage(); return false;"
          >
            <div class="form-wrapper">
             <input type="file" id="input_image" /><input
              type="submit"
              value="sendImage"
              class="form-button2"
                />
            </div>
          </form>
          <!-- </form> -->
        <!-- </div> -->
      </div>

      <div id="inmage_space">
          
      </div>
    </div>

    <script type="text/javascript" src="{% static 'js/chat.js' %}"></script>
  </body>
</html>
